/* popup.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 700px;
	padding: 8px;
}

.great,
.good,
.ok,
.poor,
.transparent {
	text-align: center;
}
.great {
	background-color: #2f855a;
	color: #fff;
	font-weight: 600;
}

.good {
	background-color: #48bb78;
	color: #fff;
	font-weight: 600;
}

.ok {
	background-color: #f6e05e;
	color: #000;
	font-weight: 600;
}

.poor {
	background-color: #f56565;
	color: #000;
	font-weight: 600;
}

.transparent {
	background-color: transparent;
	color: #000;
	font-weight: 600;
}
